.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.thumbnail {
    height: 200px;
}

.thumbnail img.pull-right {
    width: 50px;
}

.blanket {
    background-color: #111;
    background: white;
    opacity: 0.65;
    position: absolute;
    z-index: 9001;
    top: 0px;
    left: 0px;
    width: 100%;
}

.popup {
    position: absolute;
    background: url(pop-back.jpg) no-repeat;
    width: 400px;
    height: 400px;
    border: 5px solid #000;
    z-index: 9002;
    background-color: #bbbbbb;
}

h1 {
    font-weight: bold;
    font-size: 32px;
    color: #ce3f3f;
}

h2 {
    font-weight: bold;
    font-size: 32px;
    color: #ff8e01;
}

h3 {
    font-weight: bold;
    font-size: 32px;
    color: #e36700;
}
h4 {
	font-weight: bold;
	font-size: 32px;
	color: #c1644d;
}

p {
    font-weight: 24px;
    font-family: Garamond;
    color:#3399ff;
}
span {
	 height: 15px;
    width: 20px;
    border-color: #4e6f43;
    background-color: #b2cb91;
    margin: auto;
    text-align: center;
}
img {
	position: right bottom;
}
